doctype html
<!--[if IE8]><html class='ie8'><![endif]-->
<!--[if IE9]><html class='ie9'><![endif]-->
<!--[if !IE]><!--><html><!--[endif]-->
html
  head
    meta(charset = 'UTF-8')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/index.css')
  body
    a(href='/login', class='login') 登录
    block content
</html>