doctype html
<!--[if IE8]><html class='ie8'><![endif]-->
<!--[if IE9]><html class='ie9'><![endif]-->
<!--[if !IE]><!--><html><!--[endif]-->
html
  head
    meta(charset = 'UTF-8')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/index.css')
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/index_login.js')
  body
    a(id='onLoginBtn',href='/login', class='login') 登录
    a(id='unLoginBtn',href='/login', class='login') 注销

    h1= title
    block content
</html>