doctype html
html
  head
    meta(charset = 'UTF-8')
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title= title
    link(rel='stylesheet', href='/stylesheets/base.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/index.css')
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/index_login.js')
    script.
  body
    div.header
      div.w-container.clearFix
        div.left
          h2.user_name 之乐之
          p.
            一个文艺范儿WEB前端领域手艺人/*博观而约取，厚积而薄发*/
        a(id='onLoginBtn',href='/login', class='login') 登录
    //导航
    div.nav
      a(href='#') 首页
      a(href='#') 简历
      a(href='#') 阅读
      a(href='#') 论坛
      a(href='#') 博客圆
      a(href='#') gitHub
    block content
