doctype html
html
  head
    meta(charset = 'UTF-8')
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    - var log = 'register'
     //title= title
    title #{log}
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/data_md5.js')
    script(src='/javascripts/index_login.js')

  body
    div
      h1#tit Join Us！
      div.formBox
        form(action='')
          input(placeholder='请输入名字', id='registerName', name='registerName' autocomplete='off')
          input(placeholder='密码',id='registerPassword', name='registerPassword' autocomplete='off')
          button(type='button', id = 'registerBtn') 注册
        a(href='/login', class='backLogin') 返回登录
block content
