.login{
    width: 80px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    display: block;
    border: 1px solid #fff;
    color: #fff;
    font-size: 16px;
    margin: 40px;
}